package create

import (
	"github.com/spf13/cobra"
{{range .Resources}}
	"{{$.Module}}/cmd/{{$.Binary}}/create/{{.NameLower}}"
{{- end}}
{{- if .HasGatewayServiceAccounts}}
	"{{$.Module}}/cmd/{{$.Binary}}/create/serviceAccount"
{{- end}}
)

var Cmd = &cobra.Command{
	Use:   "create RESOURCE",
	Short: "Create a resource",
	Long:  "Create a resource",
}

func init() {
{{- range .Resources}}
	Cmd.AddCommand({{.NameLower}}.Cmd)
{{- end}}
{{- if .HasGatewayServiceAccounts}}
	Cmd.AddCommand(serviceAccount.Cmd)
{{- end}}
}
