package main

import (
	"fmt"
	"os"

	"github.com/spf13/cobra"

	"{{.Module}}/cmd/{{.Binary}}/completion"
	"{{.Module}}/cmd/{{.Binary}}/config"
	"{{.Module}}/cmd/{{.Binary}}/create"
	"{{.Module}}/cmd/{{.Binary}}/delete"
	"{{.Module}}/cmd/{{.Binary}}/get"
	"{{.Module}}/cmd/{{.Binary}}/list"
	"{{.Module}}/cmd/{{.Binary}}/login"
	"{{.Module}}/cmd/{{.Binary}}/logout"
{{- if .HasGatewayServiceAccounts}}
	"{{.Module}}/cmd/{{.Binary}}/revoke"
{{- end}}
	"{{.Module}}/cmd/{{.Binary}}/version"
)

var root = &cobra.Command{
	Use:           "{{.Binary}}",
	Short:         "{{.Project}} CLI",
	Long:          "Command line tool for the {{.Project}} API server.",
	SilenceUsage:  true,
	SilenceErrors: true,
}

func init() {
	root.AddCommand(completion.Cmd)
	root.AddCommand(config.Cmd)
	root.AddCommand(create.Cmd)
	root.AddCommand(delete.Cmd)
	root.AddCommand(get.Cmd)
	root.AddCommand(list.Cmd)
	root.AddCommand(login.Cmd)
	root.AddCommand(logout.Cmd)
{{- if .HasGatewayServiceAccounts}}
	root.AddCommand(revoke.Cmd)
{{- end}}
	root.AddCommand(version.Cmd)
}

func main() {
	root.SetArgs(os.Args[1:])
	err := root.Execute()
	if err == nil {
		os.Exit(0)
	}

	fmt.Fprintf(os.Stderr, "Error: %s\n", err)
	os.Exit(1)
}
