**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!components/
components/**
!components/sdk-typescript/
!components/sdk-typescript/**
!components/web-console/
!components/web-console/**
**/node_modules
**/.react-router
**/build
**/coverage
**/dist
**/playwright-report
**/storybook-static
**/test-results
